<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>
        <%- messages() %>
            <div>
                <form id="deleteForm" class="add-class-form" action="/inv/delete" method="POST">
                    <label for="vehicleMake">Vehicle Make
                        <input readonly type="text" id="vehicleMake" name="inv_make" required pattern="[A-Za-z0-9 ]+"
                            value="<%= locals.inv_make %>">
                    </label>
                    <label for="vehicleModel">Vehicle Model
                        <input readonly type="text" id="vehicleModel" name="inv_model" required pattern="[A-Za-z0-9 ]+"
                            value="<%= locals.inv_model %>">
                    </label>
                    <label for="vehicleYear">Vehicle Year
                        <input readonly type="number" id="vehicleYear" name="inv_year" min="1900" max="2099" step="1"
                            required value="<%= locals.inv_year %>">
                    </label>
                    <label for="vehiclePrice">Vehicle Price
                        <input readonly type="number" id="vehiclePrice" name="inv_price" step="0.01" min="0.01" required
                            value="<%= locals.inv_price %>">
                    </label>
                    <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>" <% } %>>
                            <p>Confirm Deletion - The delete is permanent.</p>
                            <button type="submit">Delete Vehicle Data</button>
                </form>
            </div>